@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
    padding: 0;
    margin: 0;
    background: #36D1DC; 
    background: linear-gradient(to right, #5B86E5, #36D1DC); 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}
* {
      font-family: 'Open Sans Condensed', sans-serif;
}
*:focus {
    box-shadow: none;
    outline-color: transparent;
    /*outline: none;*/
}
#log {
 position: absolute;
    top: 10px;
    left: 10px;
    width: 170px;
    height: 200px;
    background-color: rgba(0,0,0,0.6);
    color: #ccc;
    padding: 6px;
    /* border: 1px solid rgba(0,0,0,0.7); */
    overflow-y: scroll;
    box-shadow: 5px 5px 64px #171717;
}
#log > p {
    margin: 0;
    border-bottom: 1px solid rgba(245, 243, 243, 0.2);
    padding: 0 5px;
    margin-bottom: 5px;
}

#log .res-log {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  width: 75%;
  padding: 3px 0;

}
#log .res-log:last-child {
    border-bottom: none
}
#log .res-log span{
  display: block;
  letter-spacing: 2px
}
#calculator {
    max-width: 280px;
    max-height: 450px;
    height: 420px;
    background-color: #222;
    position: relative;
    padding: 30px 8px 10px;
    border-radius: 15px;
    box-shadow: 0 0  20px #111;
}
#calculator:before {
    position: absolute;
/* hide this for now     content: ''; */ 
    top: -10%;
    left: -3%;
    z-index: -1;
    width: 106%;
    height: 115%;
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0  20px #111;
}
#calculator h6 {
  
  color: #999;
  letter-spacing: 2px;
  position:absolute;
  top: -18px;
  right: 5%;
/*  width: 50px;
  height: 10px;

  border-radius: 2px;
   background: repeating-linear-gradient(to left,red, red 10%,blue 10%, blue 20%) */
  
}
#calculator .calc-result {
    display: block;
    height: 25%;
    color: #eee;
    overflow: hidden;

    
}

#calculator .calc-result p {
    margin: 0;
    word-wrap: normal;
    letter-spacing: normal;

}
#calculator .calc-result > *::selection {
  background-color: #00bcd4
}
#calculator .calc-result .dis-answer {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    height: 60%;
    padding: 0 10px;
    font-size: 3.5rem !important;
    color: #f2f2f2;
    text-shadow: 1px 1px #222;
}

#calculator .calc-result .proc-answer {
    background-color: #1f1f1f;
    height: 40%;
    display: flex;
    padding: 0 10px;
    color: #999;
    align-items: center;
    font-size: 1.5rem !important;
}

.reset-btns {
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
    height: calc(100% / 6);
}

#calculator .calc-result .proc-answer span {
    color: #fff;
    padding: 0  4px
}

#calculator .calc-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 75%;
    background-color: #222;
}
#calculator .calc-body button {
    margin: 0;
    border: none;
    background-color: #222;
    color: #ddd;
    text-align: center;
    font-size: 2rem;
}
#calculator .calc-body button {
    margin: 0;
    border: none;
    /*background-color: #222;*/
    color: #0097A7;
    text-align: center;
    font-size: 2rem;
    transition: color 0.2s ease-in;
}
#calculator .calc-body button:hover {
  color: #4DD0E1
}
#calculator .calc-body button.ans {
    font-size: 1rem
}
#calculator .calc-body .num-btns {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 70%;
    height: 100%;
    background-color: #222;
}
#calculator .calc-body .num-btns button {
    position: relative;
    z-index: 5;

}

#calculator .calc-body .num-btns button:hover {
  cursor: pointer
}
#calculator .calc-body .num-btns button:hover:after {
  background-color:#333;
  
}
#calculator .calc-body .num-btns button:active:after {
    background-color: #29B6F6;
    box-shadow: none;
}
/*#calculator .calc-body .num-btns button:after,#calculator .calc-body .operators-btns button:after  {
    content: '';
    position: absolute;
    top: 13%;
    left:11%;
    border-radius: 50%;
    background: #111;
    display: block;
    width:55px;
    height: 55px;
    z-index: -1;
    box-shadow: 2px 2px #090909;
    transition: all 0.2s ease-in-out;
}*/
#calculator .calc-body .num-btns button:hover:after {
    transform: scale(1);
}

#calculator .calc-body .num-btns button {
    width: calc(100% / 3);
}

#calculator .calc-body .operators-btns {
    display: flex;
    flex-direction: column-reverse;
    width: 30%;
    height: 97%;
}

#calculator .calc-body .operators-btns > * {
    height: calc(100% / 6);
    /*background-color: #333;*/

}


#calculator .calc-body .operators-btns > button:not(first-child){

  border-radius: 50%;
/*   background-color: #555; */
  width: 48px;
  margin: 0 auto;
/*   box-shadow: 2px 2px #111; */
  height: 60px;
  margin-top: 5px;
  transition: background-color 0.2s ease-in
}
#calculator .calc-body .operators-btns > button{
    color: #ccc;
    cursor: pointer
}


#calculator .calc-body .operators-btns > button:hover{
    color: #eee;
}
#calculator .calc-body .operators-btns > button:not(first-child):hover {
/*   background-color: #29B6F6; */
  cursor: pointer
}
#calculator .calc-body .operators-btns > button:first-child {
    background-color: #01a207;
    width: 40px;
    height: 50px;
    border-radius:50%;
  line-height:1
}

.reset-btns button {
    font-size: 22px !important;
    /*margin: 0;*/
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left:1%;
    tarnsition: color 0.2s linear
}
#calculator .calc-body .operators-btns .reset-btns> button:first-child {
  color: #e8bb00  ;
}
#calculator .calc-body .operators-btns .reset-btns> button:last-child {
  color: firebrick;
}
#calculator .calc-body .operators-btns .reset-btns> button:first-child:hover {
  color: #ffd93c
}
#calculator .calc-body .operators-btns .reset-btns> button:last-child:hover {
  color: red
}



    